*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Mulish", sans-serif;
  color: #1C1C1C;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 18vh 73vh 10vh 100vh repeat(3, min-content);
  grid-template-columns: [full-start] 17rem [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 17rem [full-end]; }

.header {
  grid-column: full-start / full-end;
  background-color: #1C1C1C;
  display: grid;
  grid-template-columns: 17rem repeat(2, minmax(25rem, 1fr)) 17rem; }
  .header::after {
    content: "";
    height: 1px;
    display: block;
    background-color: #F2F2F2;
    grid-column: 2 / span 2; }

.logo {
  grid-column: 2 / span 1;
  align-self: center;
  justify-self: left;
  font-size: 2rem;
  color: #F2F2F2; }

.nav {
  grid-column: 3 / span 1;
  align-self: center;
  justify-self: right; }
  .nav > ul {
    display: flex;
    flex-direction: row;
    align-items: start;
    list-style-type: none; }
  .nav li {
    padding: 15px; }
    .nav li a {
      position: relative;
      display: block;
      padding: .35rem 0;
      font-size: 1.5rem;
      color: #F2F2F2;
      text-decoration: none;
      text-align: center; }
      .nav li a::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: .2rem;
        background: #F2F2F2;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .5s; }
      .nav li a:hover {
        color: #F2F2F2; }
      .nav li a:hover::after {
        transform: scaleX(1);
        transform-origin: left; }

.about {
  grid-column: full-start / full-end;
  background-color: #1C1C1C;
  display: grid;
  grid-template-columns: 17rem repeat(2, minmax(25rem, 1fr)) 17rem; }
  .about__photo {
    grid-column: 2 / span 1;
    background-image: url(../img/profile_photo.jpeg);
    background-size: cover;
    background-position: top;
    margin: 1.5rem 8rem 1.5rem 2rem; }
  .about__content {
    background-color: #dddddd;
    grid-column: 3 / span 1; }

.social {
  grid-column: full-start / full-end;
  background-color: #1C1C1C;
  color: #1C1C1C;
  display: grid;
  grid-template-columns: 17rem repeat(1, minmax(25rem, 1fr)) 17rem; }
  .social__list {
    background-color: #1C1C1C;
    grid-column: 2 / span 1;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all .1s ease-out; }
  .social__link {
    outline: none; }
    .social__link-linkedin {
      color: #2d76b0; }
    .social__link-github {
      color: #000; }
    .social__link-instagram {
      color: #9a2970; }
    .social__link-dribbble {
      color: #b53561; }
    .social__link > svg {
      width: 5rem;
      height: 5rem; }
      .social__link > svg .social__group-icon {
        fill: #F2F2F2;
        transition: all .2s; }
      .social__link > svg .social__group__inner-circle {
        fill: transparent;
        transition: all .2s; }
      .social__link > svg .social__group-outline {
        stroke: #F2F2F2;
        transform-origin: 50% 50%;
        transition: all .2s; }
      .social__link > svg:hover, .social__link > svg:active, .social__link > svg:focus {
        cursor: pointer; }
        .social__link > svg:hover .social__group-icon, .social__link > svg:active .social__group-icon, .social__link > svg:focus .social__group-icon {
          fill: #FFFBFA;
          transition: all .45s; }
        .social__link > svg:hover .social__group__inner-circle, .social__link > svg:active .social__group__inner-circle, .social__link > svg:focus .social__group__inner-circle {
          fill: currentColor;
          transition: all .45s; }
          .social__link > svg:hover .social__group__inner-circle-instagram, .social__link > svg:active .social__group__inner-circle-instagram, .social__link > svg:focus .social__group__inner-circle-instagram {
            fill: url(#simpleInsta) !important; }
        .social__link > svg:hover .social__group-outline, .social__link > svg:active .social__group-outline, .social__link > svg:focus .social__group-outline {
          stroke: currentColor;
          transform: scale(1.1);
          transition: all .45s; }

.story {
  background-color: #F2F2F2;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 17rem repeat(2, minmax(25rem, 1fr)) 17rem;
  display: grid;
  grid-template-columns: 17rem repeat(2, minmax(25rem, 1fr)) 17rem; }
  .story__content {
    background-color: #dddddd;
    grid-column: 2 / span 1; }
  .story__photo {
    background-color: #b6b6b6;
    grid-column: 3 / span 1; }

.education {
  background-color: palegoldenrod;
  grid-column: center-start / center-end; }

.skills {
  background-color: #ccaeae;
  grid-column: center-start / center-end; }

.portfolio {
  background-color: #747474;
  grid-column: center-start / center-end; }

.contact {
  background-color: lightgray;
  grid-column: center-start / center-end; }

.footer {
  background-color: #e7e7e7;
  grid-column: center-start / center-end; }
