@import url("/node_modules/flickity/dist/flickity.css");
.heading-h1 {
  font-size: 2rem;
  font-weight: 700; }

.heading-h2 {
  font-size: 1.8rem;
  margin-top: 2rem; }

.heading-h3 {
  font-size: 1.8rem;
  font-weight: 700; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Mulish", sans-serif;
  color: #1C1C1C;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 18vh 73vh 10vh 80vh repeat(3, min-content);
  grid-template-columns: [full-start] 30vw [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 30vw [full-end]; }

.header {
  grid-column: full-start / full-end;
  background-color: #1C1C1C;
  display: grid;
  grid-template-columns: 17rem repeat(2, minmax(25rem, 1fr)) 17rem; }
  .header::after {
    content: "";
    height: 1px;
    display: block;
    background-color: #F2F2F2;
    grid-column: 2 / span 2; }

.logo {
  grid-column: 2 / span 1;
  align-self: center;
  justify-self: left;
  font-size: 2rem;
  color: #F2F2F2; }

.nav {
  grid-column: 3 / span 1;
  align-self: center;
  justify-self: right; }
  .nav > ul {
    display: flex;
    flex-direction: row;
    align-items: start;
    list-style-type: none; }
  .nav li {
    padding: 15px; }
    .nav li a {
      position: relative;
      display: block;
      padding: .35rem 0;
      font-size: 1.5rem;
      color: #F2F2F2;
      text-decoration: none;
      text-align: center; }
      .nav li a::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: .2rem;
        background: #F2F2F2;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .5s; }
      .nav li a:hover {
        color: #F2F2F2; }
      .nav li a:hover::after {
        transform: scaleX(1);
        transform-origin: left; }

.about {
  grid-column: full-start / full-end;
  background-color: #1C1C1C;
  display: grid;
  grid-template-columns: 17rem repeat(2, minmax(25rem, 1fr)) 17rem; }
  .about__photo {
    grid-column: 2 / span 1;
    background-image: url(../img/profile_photo.jpeg);
    background-size: cover;
    background-position: top;
    margin: 1.5rem 8rem 1.5rem 2rem; }
  .about__content {
    grid-column: 3 / span 1;
    margin: 1.5rem 0 1.5rem 0;
    color: #F2F2F2; }
  .about__text {
    font-size: 1.4rem;
    margin-top: 3rem; }
  .about .btn-primary {
    margin-top: 8rem;
    padding: 1.8rem 3rem;
    background-color: #F2F2F2;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    transition: all .2s; }
    .about .btn-primary:hover {
      background-color: #F2F2F2;
      cursor: pointer;
      transform: translateY(-0.3rem);
      box-shadow: -0.3rem 0.8rem 2rem rgba(242, 242, 242, 0.2); }
    .about .btn-primary:active {
      transform: translateY(0.1rem);
      box-shadow: -0.1rem 0.1rem 2.5rem rgba(242, 242, 242, 0.2); }

.social {
  grid-column: full-start / full-end;
  background-color: #1C1C1C;
  color: #1C1C1C;
  display: grid;
  grid-template-columns: 17rem repeat(1, minmax(25rem, 1fr)) 17rem; }
  .social__list {
    background-color: #1C1C1C;
    grid-column: 2 / span 1;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all .1s ease-out; }
  .social__link {
    outline: none; }
    .social__link-linkedin {
      color: #2d76b0; }
    .social__link-github {
      color: #000; }
    .social__link-instagram {
      color: #9a2970; }
    .social__link-dribbble {
      color: #b53561; }
    .social__link > svg {
      width: 5rem;
      height: 5rem; }
      .social__link > svg .social__group-icon {
        fill: #F2F2F2;
        transition: all .2s; }
      .social__link > svg .social__group__inner-circle {
        fill: transparent;
        transition: all .2s; }
      .social__link > svg .social__group-outline {
        stroke: #F2F2F2;
        transform-origin: 50% 50%;
        transition: all .2s; }
      .social__link > svg:hover, .social__link > svg:active, .social__link > svg:focus {
        cursor: pointer; }
        .social__link > svg:hover .social__group-icon, .social__link > svg:active .social__group-icon, .social__link > svg:focus .social__group-icon {
          fill: #FFFBFA;
          transition: all .45s; }
        .social__link > svg:hover .social__group__inner-circle, .social__link > svg:active .social__group__inner-circle, .social__link > svg:focus .social__group__inner-circle {
          fill: currentColor;
          transition: all .45s; }
          .social__link > svg:hover .social__group__inner-circle-instagram, .social__link > svg:active .social__group__inner-circle-instagram, .social__link > svg:focus .social__group__inner-circle-instagram {
            fill: url(#simpleInsta) !important; }
        .social__link > svg:hover .social__group-outline, .social__link > svg:active .social__group-outline, .social__link > svg:focus .social__group-outline {
          stroke: currentColor;
          transform: scale(1.1);
          transition: all .45s; }

.story {
  background-color: #F2F2F2;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 17rem repeat(2, minmax(25rem, 1fr)) 17rem;
  display: grid;
  grid-template-columns: 17rem repeat(2, minmax(25rem, 1fr)) 17rem; }
  .story__content {
    grid-column: 2 / span 1;
    padding: 5rem 3rem; }
  .story__photo {
    background-color: #b6b6b6;
    grid-column: 3 / span 1;
    background-image: url(../img/story_photo.jpg);
    background-size: cover;
    background-position: top;
    margin: 5rem 3rem; }
  .story__text {
    font-size: 1.4rem;
    margin-top: 3rem; }

.experience {
  background-color: palegoldenrod;
  grid-column: center-start / center-end; }

.skills {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 17rem repeat(2, minmax(25rem, 1fr)) 17rem; }
  .skills__content, .skills .heading-h1 {
    grid-column: 2 / 4;
    padding: 3.5rem; }
  .skills__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 6rem;
    margin-bottom: 6rem; }
    .skills__content a {
      justify-self: center;
      align-self: center; }
    .skills__content img {
      height: 9rem;
      transition: all .3s; }
  .skills img:hover {
    transform: scale(1.08);
    cursor: pointer; }

.portfolio {
  grid-column: full-start / full-end;
  background-color: #F2F2F2;
  display: grid;
  grid-template-columns: 17rem repeat(2, minmax(25rem, 1fr)) 17rem;
  align-items: center; }
  .portfolio__content {
    grid-column: 1 / 5;
    padding: 8rem; }

.gallery {
  background: #F2F2F2; }
  .gallery-cell {
    width: 89%;
    height: 50vh;
    margin-right: .5rem;
    counter-increment: gallery-cell;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse; }
    .gallery-cell--1 {
      background-image: url("https://images.unsplash.com/photo-1522542550221-31fd19575a2d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"); }
    .gallery-cell--2 {
      background-image: url("https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=993&q=80"); }
    .gallery-cell--3 {
      background-image: url("https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"); }
    .gallery-cell--4 {
      background-image: url("https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1602&q=80"); }
    .gallery-cell--5 {
      background-image: url("https://images.unsplash.com/photo-1487014679447-9f8336841d58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2066&q=80"); }
  .gallery__box {
    background-color: #000000;
    width: 100%;
    height: 13vh;
    opacity: .6; }
    .gallery__box-text {
      font-size: 1.6rem;
      color: #F2F2F2;
      padding: 2rem; }
    .gallery__box-link:link, .gallery__box-link:visited {
      color: #F2F2F2;
      text-decoration: none;
      font-weight: 700;
      transition: all .25s; }
    .gallery__box-link:hover {
      color: #F2F2F2;
      text-decoration: underline;
      cursor: pointer;
      padding: .25rem; }

.contact {
  background-color: lightgray;
  grid-column: center-start / center-end; }

.footer {
  background-color: #1C1C1C;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(1, minmax(25rem, 1fr));
  align-items: center; }
  .footer__content {
    grid-column: 1 / -1;
    padding: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center; }
  .footer__list {
    list-style: none;
    font-size: 1.4rem;
    color: #F2F2F2; }
    .footer__list img {
      width: 3rem;
      height: 3rem;
      fill: white;
      margin-right: 1rem; }
  .footer__item {
    display: flex;
    align-items: center;
    margin-top: 1rem; }
  .footer__link:link, .footer__link:visited {
    color: #F2F2F2;
    text-decoration: none; }
  .footer__link:hover {
    text-decoration: underline; }

.footer__copyright {
  grid-column: 1 / -1;
  justify-self: center;
  display: inline-block;
  font-size: 1rem;
  padding-bottom: .5rem;
  color: #F2F2F2; }
  .footer__copyright-hearth {
    color: red;
    height: 2rem; }
