.about{
    grid-column: full-start / full-end;
    background-color: $color-primary;

    display: grid;
    grid-template-columns: 17rem repeat(2, minmax(25rem, 1fr)) 17rem;

    &__photo{
        background-color: rgb(182, 182, 182);
        grid-column: 2 / span 1;
    }

    &__content{
        background-color: rgb(221, 221, 221);
        grid-column: 3 / span 1;
    }
}