.skills{
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: 17rem repeat(2, minmax(25rem, 1fr)) 17rem;

    &__content, .heading-h1{
        grid-column: 2 / 4;
        padding: 3.5rem;
    }

    &__content{
        display: grid;
        //turning on this column full-responsive without media-queries
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 6rem;
        margin-bottom: 6rem;

        a{
            justify-self: center;   //centering svg icon in cross axis
            align-self: center;   //centering svg icon in cross axis
        }

        img{
            height: 9rem;
            transition: all .3s;
        }
    }

    img:hover{
        transform: scale(1.08);
        cursor: pointer;
    }
}